$snowy-bg-color: linear-gradient(
  to bottom right,
  hsl(0, 0%, 75%),
  hsl(0, 0%, 100%)
);

$cloudy-bg-color: linear-gradient(
  to bottom right,
  hsl(217, 96%, 81%) 0%,
  hsl(199, 88%, 87%) 100%
);
$sunny-bg-color: linear-gradient(
  120deg,
  hsl(46, 89%, 68%) 0%,
  hsl(13, 97%, 76%) 100%
);

$thunder-bg-color: linear-gradient(
  to bottom right,
  hsl(249, 30%, 15%),
  hsl(249, 30%, 25%)
);
