$snowy-bg-color: linear-gradient(
  135deg,
  hsl(216, 33%, 97%) 0%,
  hsl(217, 35%, 83%) 100%
);

$cloudy-bg-color: linear-gradient(
  to bottom right,
  hsl(217, 96%, 81%) 0%,
  hsl(199, 88%, 87%) 100%
);

$sunny-bg-color: linear-gradient(
  120deg,
  hsl(46, 89%, 68%) 0%,
  hsl(13, 97%, 76%) 100%
);

$thunder-bg-color: linear-gradient(
  to top,
  hsl(219, 58%, 28%) 0%,
  hsl(219, 58%, 28%) 1%,
  hsl(218, 57%, 38%) 100%
);
